* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  background-color: #808080;
}

body {
  height: 100%;
  overflow: hidden;
}

#header {
  width: fit-content;
  height: 3rem;
  margin: 0 auto;
  color: white;
  display: flex;
  border-bottom: 1px solid #b19eda;
}

#header > * {
  padding: 0 5px;
  font-size: 1.25rem;
  color: rgb(177, 158, 218);
}

#header p {
  margin: auto 0;
  font-family: monospace;
  border: 1px solid transparent;
}

#header button {
  background: none;
  font-weight: 400;
  font-family: monospace;
  border: 1px solid transparent; 
}
#header button:active {
  font-weight: 600;
}
#header button:focus-visible {
  border: 1px solid white;
  color: white;
}
#header button:hover {
  cursor: pointer;
  color: white;
}

#game-container {
  height: 100%;
  width: auto;
  aspect-ratio: 1/1.75;
  margin: 0 auto;
}

@media (max-aspect-ratio: 1/1.75) {
  #game-container {
    height: auto;
    width: 100%;
  }
}

#game {
  height: 100%;
}

canvas {
  margin: 0 auto;
}


/* Hiscore table stuffs  */
#hiscores-container {
  position: absolute;
  right: calc(50% - 150px);
  /* top placement relative to header height, accomodated for 1px border */
  top: calc(3rem - 1px);
  width: 300px;
  max-height: 600px;
  min-height: 200px;

  background: rgba(50, 50, 50, 0.9);
  border: 1px solid #b19eda;
  border-radius: 8px;

  overflow-y: auto;
}

table {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
}

tr {
  display:table;
  padding: 5px;
}

tr > td:nth-child(1) {
  width: 50%;
}

tr > td:nth-child(2) {
  width: 25%;
  font-weight: bold;
}

td, th {
  font-size: 1.25rem;
  color: #b19eda;
  font-family: monospace;
}

th[role=button]:hover {
  cursor: pointer;
  color: white;
}
