* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  background-color: gray;
}

body {
  height: 100%;
  overflow: hidden;
}

#header {
  width: fit-content;
  margin: 0 auto;
  color: white;
}

#header p {
  padding-top: .5rem;
  font-size: 1.25rem;
  font-family: monospace;
  color: rgb(177, 158, 218);
  border-bottom: 1px solid rgb(177, 158, 218);
}

#game {
  height: 100%;
  display: flex;
}

canvas {
  margin: 0 auto;
}

#resetbtn {
  padding: .25rem;
}